<div class="container">
	<h4>マイページ</h4>
		<table class="table">
			<tr>
				<div class="row">
					<h3><%= current_user.name %></h3>
					<ul><%= render 'follow_stats' %></ul>
			      	<ul><%= render "follow_form" %></ul>
					<p><%= link_to "プロフィールの編集", edit_user_path(current_user) %></p>
					<th>自己紹介</th>
					<td><%= current_user.introduction %></td>
					<th>投稿数</th>
					<td><%= current_user.posts.count %></td>
				</div>
			</tr>
		</table>

		<div class="row">
			<div class="col">
				<div class="card" style="width: 20rem;">
					<div class="card-header">
						<h4><span class="badge badge-secondary">新規投稿</span></h4>
					</div>
						<%= render 'posts/newform', post: @post %>
				</div>
			</div>

			<div class="col">
				<h4><span class="badge badge-secondary">あなたの投稿</span></h4>
					<% @posts.each do |post| %>
				<div class="card" style="width: 16rem;">
					<div class="card-img-top">
						<%= attachment_image_tag post, :image, :fill, 250, 200, format: 'jpg' %>
					</div>
					<div class="card-body">
						<small>タイトル</small>
  						<h4 class="card-title"><%= post.title %></h4>
						<small>質問</small>
  						<p class="card-text"><%= post.content %></p>
					</div>
  						<ul><%= link_to "#{post.answers.count} 件の回答", post_path(post.id) %>
  						</ul>
					<% end %>
				</div>
			  <%= paginate @posts %>
			</div>
		</div>
</div>