<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div class="container">
	<h4>
		<% if user_signed_in? %>
          <div style="margin-top: 30px; color: #ffffff;">
          	<p>	ようこそ
          		<%= link_to mypage_users_path do %>
          		<%= current_user.name %>
          		<% end %>
          		さん。
      		</p>
      	  </div>
        <% end %>
	</h4>
	<div class="row center-block">
		<div class="card" style="width: 22rem;">
  			<div class="card-body">
					<h4 class="card-title">ようこそSuicomへ。</h4>
					<p class="card-text"></p>
					<div class="btn btn-primary">
						<%= link_to 'マイページ', mypage_users_path %>
					</div>
 		    </div>
 		    <%= render "layouts/post_index" %>
		</div>
	</div>
</div>