<%= form_for(@post) do |f| %>
<div class="form-group">
  <%= f.label :タイトル %>
  <%= f.text_field :title %>
</div>
<div class="form-group">
  <%= f.label :質問内容 %>
  <%= f.text_area :content %>
</div>
<div class="form-group">
  <%= f.label :画像 %>
  <%= f.attachment_field :image %>
</div>
<div class="btn">
  <%= f.submit "投稿" %>
</div>
<% end %>