<%= form_for(@post) do |f| %>
<ul class="list-group list-group-flush">
	<li class="list-group-item">
		<div class="form-group">
		  <%= f.label :タイトル %>
		  <%= f.text_field :title %>
		</div>
	</li>
	<li class="list-group-item">
		<div class="form-group">
		  <%= f.label :質問内容 %>
		  <%= f.text_area :content %>
		</div>
	</li>
	<li class="list-group-item">
		<div class="form-group">
		  <%= f.label :画像 %>
		  <%= f.attachment_field :image %>
		</div>
	</li>
	<li class="list-group-item">
		<div class="btn">
		<button type="button" class="btn btn-outline-primary">
		  <%= f.submit "投稿" %>
		</button>
		</div>
	</li>
</ul>
<% end %>